.main.container{
    margin-top: 60px;
}

.grid .content{
    height: 0px;
    top:0px;
    display: none;
    position: absolute;
    background-color: white;
}

.grid .thumbnail{
    padding: 1.5rem;
    font-size: 1.6rem;    
}

.grid .thumbnail:hover{
    background-color: pink;
}

.thumbnail .meta{
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
